body{
 margin:0;
min-height: 100%; position: sticky; padding-bottom: 80px; box-sizing: border-box
}

/* Global */
.container{
  margin-left:4px
}
hr{
    border:0;height: 5px;margin: 0;background-color: orange;
}

ul{
 
}

.button_1{
  
}

.dark{
  
}

/* Header **/
header{
  background-color: #333;color: #fff;padding: 20px 0;margin:0
}

header a{
 
}

header li{
  
}

header #branding{
  
}

header #branding h1{
  
}

header nav{
  
}

header .highlight, header .current a{
 
}

header a:hover{
 
}

/* Showcase */
#showcase{
  
}

#showcase h1{
  
}

#showcase p{
  
}

/* Newsletter */
#newsletter{
  
}

#newsletter h1{
  
}

#newsletter form {
 
}

#newsletter input[type="email"]{
  
}

/* Boxes */
#boxes{
  
}

#boxes .box{
  
}

#boxes .box img{
 
}

/* Sidebar */
aside#sidebar{
  
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
 
}

/* Main-col */
article#main-col{
  
}

/* Services */
ul#services li{
  
}

footer{
  background-color: orange; color: white; text-align: center; padding: 20px 0; position: absolute; bottom: 0; width: 100%
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    
  }

  header{
    
  }

  #showcase h1{
   
  }

  #newsletter button, .quote button{
    
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    
  }
}
